:root {
    --container-bg-color: #15803d;
    --box-bg-color: #4c1d95;
}

body {
    margin: 20px;
}

.container {
    display: grid;
    /* grid-template-columns: 100px 100px 100px;  {OR}*/
    grid-template-columns: repeat(3, 100px);  /*Using the repeat function in addition to the auto properties will reduce redundancy and provide ease of code modification. */
    /* grid-auto-rows: 100px; */
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-rows: 2fr 1fr 2fr;  */
    /*fr - fractions effectively divides the grids  */
    gap: 10px;
    background-color: var(--container-bg-color);
}


.box {
    background-color: var(--box-bg-color);
    color: #FFFFFF;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    font-size: 150%;
}