body {
    background-color: rgb(237, 239, 238);
    font-family: 'Markazi Text', serif;
    margin: 3rem 5%;
}

h1 {
    font-size: 3rem;
    margin: 1.5rem 0;
}

h2 {
    font-size: 2rem;
}

/* Centering the header logo */

header img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
}

nav {
    background-color: rgb(51, 51, 51);
    border-radius: 1rem;
    margin: 1rem 0;
}

nav ul {
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding-inline-start: 0rem;
}

nav ul li {
    display: inline-block;
    margin: 0.25rem;
}

nav ul a {
    color: rgb(237, 239, 238);
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

/* Main Section */

main article {
    background-color: #FBDABB79;
    padding: 0 1rem;
}

#hero {
    background-image: url(/littleLemon/images/little-lemon-background.jpg), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-size: cover;
    background-position: 75%;
    color: rgb(229, 240, 237);
}

#hero p {
    max-width: 75%;
}

section {
    display: flex;
    gap: 2rem 1rem;
    margin: 1rem 0;
}

article {
    flex: 1;
    border-radius: 1rem;
}

article img {
    max-width: 100%;
}

article ul {
    list-style: none;
}

/* Footer Section */

footer {
    display: flex;
    margin: 1rem;
    gap: 2rem 1rem;
}

footer div {
    flex: 1;
}

footer img {
    max-width: 10%;
}

footer p {
    border-top: #333333;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
}